<ion-view title="View">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 33px;"></div>
        <ion-list>
            <ion-item>Friend 1</ion-item>
            <ion-item>Friend 2</ion-item>
            <ion-item>Friend 3</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 44px;"></div>
        <button class="button button-stable button-block ">Add Group</button>
        <button class="button button-stable button-block ">Delete Group</button>
    </ion-content>
</ion-view>